# System files
.DS_*

# Editors
.vscode
.idea
.editorconfig

# Logs
logs
*.log
npm-debug.log*
**/*.backup.*
**/*.back.*

# Dependencies
.nvmrc
node_modules/

# Compiled binary addons (http://nodejs.org/api/addons.html)
build
